@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-decoration: none;
    list-style: none;
}


/* GLOBAL */


img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* INDEX HTML */
.container{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.main__header{
    background-image: url(../img/main__background.png);
    background-attachment: fixed;
}
.header__topblock{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}
.header__title{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__title-text>a{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin-right: 12px;
}
.header__title-img{
    width: 17px;
}
.header__nav{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__nav-item{
    margin-left: 47px;
    position: relative;
}
.header__nav-item:first-child{
    margin-left: 0;
}
.header__nav-item > a{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    color: #FFFFFF;
}
.header__nav-item:not(:last-child)>a::before{
    content: "";
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: 35px;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s;
}
.travel__nav-item:not(:last-child)>a::before{
    background: #41454D;
}
.header__nav-item:not(:last-child)>a:hover::before{
    width: 100%;
}
.header__search>a>img{
    width: 17px;
    margin-top: 13px;
}

.header__banner{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 56px 33px 56px;
}
.mian__header-banner{
    justify-content: space-between;
}
.banner__weather-img{
    margin-right: 15px;
    width: 51px;
}
.banner__weather{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-self: flex-start;
    align-self: flex-end;
}
.weather__info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}
.header__banner-title{
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
    color: #FFFFFF;
}
.header__banner-title>span{
    font-weight: 300;
}
.banner__schedule{
    width: 100%;
    height: 60px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.banner__schedule-line{
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    bottom: -4px;
    transition: 0.5s;
}
.banner__buttons{
    width: auto;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: -4px;
}
.banner__button{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.banner__buttons-text{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 20px;
}
.banner__buttons-img{
    width: 18px;
}
.banner__button:hover{
    opacity: 1;
}
.banner__button-active{
    opacity: 1;
}
.banner__search{
    width: auto;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.5;
    transition: 0.5s;
}
.banner__search-img{
    width: 25px;
    margin-right: 12px;
}
.banner__search-input{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: rgba(255, 255, 255);
}
.banner__search-input:focus .banner__search:parent{
    opacity: 1;
}


/* FLIGHTS */
.flights{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 22px 56px;
}
.flights__table{
    width: 100%;
    height: auto;
    border-spacing: 0;
    margin-bottom: 20px;
}
.flights__table-th{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #6D6D6D;
}
.flights__table-td{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    color: #000000;
}
.flights__button{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flights__button-text{
    margin-right: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #6D6D6D;
    transition: 0.3s;
}
.flights__button:hover > .flights__button-text{
    color: #000000;
    margin-right: 15px;
}
.flights__button-img{
    width: 20px;
}





/* SEARCH TICKETS */
.searchtickets{
    width: 100%;
    height: auto;
    padding: 22px 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.searchtickets__body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.searchtickets__title{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
}
.searchtickets__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 17.5px;
    color: #000000;
    margin-bottom: 23px;
}
.searchtickets__form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchtickets__form > .searchtickets__block:nth-child(1){
    width: 21.8%;
}
.searchtickets__form > .searchtickets__block:nth-child(2){
    width: 21.8%;
}
.searchtickets__dates{
    width: 29.3%;
}
.searchtickets__form > .searchtickets__block:nth-child(4){
    width: 14.8%;
}
.searchtickets__button{
    width: 8.8%;
}
.searchtickets__dates>.searchtickets__block{
    width: 50%;
}
.searchtickets__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 11px;
    border: 0.5px solid #808080;
    border-radius: 2px;
}
.searchtickets__dates{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchtickets__dates > .searchtickets__block{
    padding: 4px 11px;
}
.searchtickets__label{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #6D6D6D;
    height: 50%;
}
.searchtickets__input{
    width: 100%;
    height: 50%;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.searchtickets__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33FF12;
    cursor: pointer;
    padding: 15.75px 0;
}
.searchtickets__button-text{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}






/* TRAVEL IDEAS */
.travelideas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 75px 56px;
}
.travelideas__title{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.travelideas__title-text{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}
.travelideas__images{
    width: 100%;
    height: 325px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    grid-gap: 25px;
    margin-bottom: 25px;
}
.travelideas__image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.travelideas__image-one{
    background-image: url(../img/img1.png);
}
.travelideas__image-two{
    background-image: url(../img/img2.png);
}
.travelideas__image-three{
    background-image: url(../img/img3.png);
}
.travelideas__image-four{
    background-image: url(../img/img4.png);
}
.travelideas__subtitle{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/footer_background.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.travelideas__subtitle-text{
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    color: #FFFFFF;
}





/* COVID */
.covid{
    width: 100%;
    height: 350px;
    background-image: url(../img/covid.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 34px 0 0 69px;
}
.covid__title{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.covid__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.covid__text{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #FFFFFF;
}




/* CONTENT */
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutus__content{
    justify-content: space-between;
    padding-top: 100px;
}
.aboutus__content-block{
    width: 100%;
    height: auto;
    background-color: #C4C4C4;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 31px 56px;
    margin-bottom: 106px;
}
.content__today, .content__history{
    height: 406px;
}
.content__block{
    height: 588px;
}
.aboutus__content-ul{
    width: auto;
    height: auto;
}
.aboutus__content-li{
    list-style: disc;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}



/* FOOTER */
.footer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
    background-image: url(../img/footer_background.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.footer__contact{
    width: auto;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__contact-title{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    color: #FFFFFF;
    position: relative;
}
.footer__contact-title::before{
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: #fff;
    position: absolute;
    top: 75%;
}
.footer__contact-numberphone{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.footer__nets{
    width: 132px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nets>a>img{
    width: 32px;
    cursor: pointer;
}
.footer__copyright{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 40%;
}



/* ABOUT US PAGE */
.aboutus__header{
    background-image: url(../img/background_header_aboutus.png);
    background-attachment: fixed;
}
.about_cont_li{
    margin-top: 20px;
    font-size: 20px;
    line-height: 42px;
    color: #fff;
}
.aboutus__content-block>p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 42px;
    color: #fff;
}
.content__history{
    padding-top: 85px;
}
/* TRAVEL PAGE */

.travel_header{
    width: 100%;
    height: 95px;
}
.travel_header>.header__topblock>.header__title>.header__title-text>a{
    color: #41454D;
}
.travel_header>.header__topblock>ul>li>a{
    color: #41454D;
}
.headline{
    padding: 30px 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
}
.headline-title{
    width: 500px;
    color: #41454D;
    font-style: normal;
    font-weight: 600;
    font-size: 85px;
}
.line{
    width: 100%;
    height: 1px;
    border: 1px solid rgba(65, 69, 77, 0.3);
}
.abouttourism{
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 660px;
}
.about_content>p{
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 2.5;
    text-align: justify;
}
.about_content{
    padding: 30px 100px 100px 100px;
    margin-top: 30px;
    width:100%;
    height: 600px;
    background: #C4C4C4;
}
.places{
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 1150px;
}
.place{
    width: 32%;
height: 470px;
background: #C4C4C4;
}
.place_hl{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41454D;
    width: 100%;
}
.rest{
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 650px;
}
.rest_card{
    width: 32%;
height: 470px;
background: #C4C4C4;
}
.place_img{
    width: 100%;
    height: 90%;
}
.place_img>img{
    width: 100%;
    height: 100%;
}
.place_title{
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rest_image{
    width: 100%;
    height: 90%;
}
.rest_title{
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rest_image>img{
    width: 100%;
    height: 100%;
}

/*flight.html*/

.headline-title>span{
    color: rgba(65, 69, 77, 0.5);
}
.flight_arrivals{
    margin-top: 30px;
    width: 100%;
    height: 424px;
}
.info_content{
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    width: 100%;
    height: 230px;
}
.flight_info{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 200px;
    color: #000000;
}
.flight_info:last-child{
    padding-left: 40px;
}

.flight_info:nth-child(5){
    padding-left: 60px;
}
.other_flights{
    cursor: pointer;
    font-size: 20px;
    padding: 30px 64px;
    color: #6D6D6D;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flight_info>li:first-child{
    color: #6D6D6D;
    font-weight: normal;
}
.flight_search{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(65, 69, 77, 0.5);
    font-size: 22px;
}
.flight_search>img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

/*TICKETS*/
.tickets{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}
.tickets__title-part{
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;  
    color: #41454D;
}
.tickets__form{
    width: 50%;
    height: 846px;
    background: #41454D;
    padding: 56px 59px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tickets__form > .tickets__form-item:nth-child(1){
    width: 100%;
}
.tickets__form > .tickets__form-item:nth-child(2){
    width: 100%;
}
.tickets__form > .tickets__form-item:nth-child(3){
    width: 30%;
}
.tickets__form > .tickets__form-item:nth-child(4){
    width: 30%;
}
.tickets__form > .tickets__form-item:nth-child(5){
    width: 30%;
}
.tickets__form > .tickets__form-item:nth-child(6){
    width: 20%;
}
.tickets__form-item{
    background: white;
    margin-top: 25px;
    padding: 17px;
}
.tickets__form-label{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #6D6D6D;
    height: 50%;
}
.tickets__form-input{
    width: 100%;
    height: 50%;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.tickets__form-input{
    width: 100%;
    height: 50%;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.tickets__form-choose{
    margin-top: 20px;
    width: 30%;
    height: auto;
    display: flex;
}
.tickets__form-item-text{
    font-size: 20px;
    color: white;
}
.tickets__form-choose-box{
    display: flex;
    margin-left: 20px;
}
.choose__box-plus{
    margin-right: 15px;
    color: white;
    background: none;
    border: none;
}
.choose__box-amount{
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.choose__box-negative{
    margin-left: 15px;
    color: white;
    background: none;
    border: none;
}
.tickets__form-button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33FF12;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    padding: 15.75px 0;
}